.layout
{
	background: #edf1f5;

	display: flex;
	align-items: center;
	justify-content: center;

	/* Occupy whole page */
	height: 100vh;
	width: 100vw;
}

.anime_content
{
	background: #fafafa;
	border-radius: 25px;

	width: 95vw;
	max-width: 95vw;
	max-height: 85vh;
}

.gutter-row
{
	/* Position the rows more properly */
	display: flex;
	justify-content: center;
	margin: 20 0;
	text-align: center;

	max-width: 18rem;
}

/* Give a limit to the cover art of the anime */
.cover_art
{
	max-height: 4rem;
	max-width: 14rem;
}

/* Add a border to the bottom of the images of each card */
.cover_art > img
{
	border-radius: 8px;
}

/* Limit YouTube's embed size */
.video
{
	height: 23rem;
	width: 46rem;
	border-radius: 8px;
}

/* Position on the center of the screen the loading icon */
.loading
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
