.ant-card-body
{
	padding-bottom: 0.5rem !important;
}

.card
{
	border-radius: 5px;

	max-width: 12rem;
	height: auto;
}

.anime_cover
{
	max-height: 18rem;
	border-radius: 2px 2px 20px 20px !important;
}
